.main-container{
    width: 100%;
    border-style: groove;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-upper{
    margin: 10px;
    width: 260px;
    height: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px;
}


.main-img{
    margin:5px;
    height: 150px;
    width: 150px;
    background-color: rgb(182, 182, 198);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


 .main-upper .main-img img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    

}


.main-details{
    margin: 18px;
    
    width: 240px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-name{
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}

.main-univ{
    margin: 0;
    width: 230px;
    font-style: italic;
    font-size: 13px;
    text-align: center;
}


.main-card{
    width: 245px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px;
    border-radius: 5px;
    margin: 10px;
}

.main-card .main-img{
    margin: 10px;
    height: 130px;
    width: 130px;
    background-color: rgb(182, 182, 198);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-lower{
    padding: 20px;
    width: 80%;

    /* border-style: groove; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}


.main-lower .main-card .main-img img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    

}


@media (max-width:600px){
    .chief-name h1, .associate-name h1{
        font-size: 20px;
    font-weight: 700;
    }
    h1{
        font-size: 20px;
    font-weight: 700;
    }
}




