
ul, ol {
    list-style: none
}
.main {
    padding: 10px;
    /* padding-left: 10px; */
    width: 90%;
    margin: auto;
    overflow: hidden;
    color: #fff;
    margin-top: -10px;
 
   height: 255px;
}
/* .slider {
    position: relative
} */

.slider .slider-parent {
    padding: 0;
    display: flex
}
.slider .slider-parent .images-list {
    background-size: cover;
    overflow: hidden;
}
/*.slider .slider-parent .images-list:first-of-type, .slider .slider-parent .images-list:last-of-type {
    background-image: url(https://images.pexels.com/photos/462146/pexels-photo-462146.jpeg)
}*/
/*.slider .slider-parent .images-list:nth-of-type(2) {
    background-image: url(https://images.pexels.com/photos/268261/pexels-photo-268261.jpeg)
}
.slider .slider-parent .images-list:nth-of-type(3) {
    background-image: url(https://images.pexels.com/photos/1107717/pexels-photo-1107717.jpeg)
}
.slider .slider-parent .images-list:nth-of-type(4) {
    background-image: url(https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg)
}
.slider .slider-parent .images-list:nth-of-type(5) {
    background-image: url(https://images.pexels.com/photos/462162/pexels-photo-462162.jpeg)
}*/

.slider .slider-parent .images-list img{

  height: 200px;
  margin: 30px;
  border-style: groove;
  /* box-shadow: -10px 10px 20px black; */
  overflow:-moz-hidden-unscrollable;

}

.slider .slider-parent .images-list img:hover{
  
  height: 200px;
  padding: 5px;
  margin: 25px;
  /* border-style: groove; */
  border-color: rgb(14, 233, 10);
  background-color:rgb(15, 7, 228);
  box-shadow: 0 0 10px rgb(58, 5, 231);
  


}





.slider .buttom-circles {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 10px
}

.slider .buttom-circles .buttom-circles-list { visibility: hidden }

.slider .buttom-circles .buttom-circles-list {
    display: inline-block
}
.slider .buttom-circles .buttom-circles-list:hover .fa:before, .slider .buttom-circles .buttom-circles-list.slider-active .fa:before {
    content: "\f111";
}
.slider > .fa {
    position: absolute;
    top: 45%;
    visibility: hidden;
}
.slider > .fa:first-of-type { right: 5px}
.slider > .fa:last-of-type { left: 5px}
.slider .fa {
    text-shadow: 5px 5px 5px #555;
    cursor: pointer
}

@media(min-width: 100px) and (max-width: 767px) {
    .slider > .fa { font-size: 25px; visibility: hidden; }
    .slider .buttom-circles .buttom-circles-list { visibility: hidden }
}
@media(min-width: 768px) and (max-width: 991px) { 
    .slider > .fa { font-size: 50px; visibility: hidden; }
    .slider .buttom-circles .buttom-circles-list { visibility: hidden }
}
@media(min-width: 992px) and (max-width: 1199px) { 
    .slider > .fa { font-size: 75px; visibility: hidden; }
    .slider .buttom-circles .buttom-circles-list { font-size: 17px }
}
@media(min-width: 1200px) { 
    .slider > .fa { font-size: 100px; visibility: hidden; }
    .slider .buttom-circles .buttom-circles-list { font-size: 25px }
}