*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    

}

body{
    font-family: sans-serif;

}

section{
    margin-top: -10px;
    width: 100%;
    background-color: lavender;
    background-size: cover;
    /* height: 120vh; */
    display: flex;
    justify-content: center; 
    /* position:absolute;   */
}



section .row{
    display: flex;
    justify-content: space-around;

}



.developer{
    height: 30px;
    width: 100%;
    background-color: rgb(191, 169, 169);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span, .devname span{
    text-align: center;
    
}

.logo span{
    font-size: 10px;
    padding: 10px;
    color: rgb(227, 235, 228);
}

.devname span{
    /* padding: 10px; */
    font-size: 12px;
    /* font-variant: petite-caps; */
    font-weight: bolder;
    animation: designer 14s linear infinite;
    color: chartreuse;
    font-family: cursive;
}

.devname span:nth-child(1){
    animation-delay: 1.5s;
    /* color: chartreuse; */
}

.devname span:nth-child(2){
    animation-delay: 3s;
}

.devname span:nth-child(3){
    animation-delay: 4.5s;
}

.devname span:nth-child(4){
    animation-delay: 6s;
}

.devname span:nth-child(5){
    animation-delay: 7.5s;
}

@keyframes designer{
    0%, 100%
    {
        color: rgb(235, 241, 245);
        /* filter: blur(1px); */
        text-shadow: 0 0 10px black;
        

    }
    10%{
        color: rgb(52, 248, 91);
    }

    20%{
        color: rgb(252, 252, 249);
    }

    5%, 95%
    {
        color: rgb(211, 247, 7);
        /* filter: blur(1px); */
        text-shadow: 10 0 10px none;

    }
}



.devname span:hover{
  transform: rotateX(-90deg);
}








